In [27]:
# import library
import pandas as pd
import numpy as np 
import missingno as msno
import matplotlib.pyplot as plt

In [28]:
api_url = "https://stein.efishery.com/v1/storages/5e1edf521073e315924ceab4/list"

# Get data about NYC cafes from the Yelp API
response = requests.get(api_url)

# Extract JSON data from the response
data = response.json()

NameError: name 'requests' is not defined

In [22]:
# Load data to a data frame
df = pd.DataFrame(data)

# View the data's dtypes
print(df.dtypes)

uuid             object
komoditas        object
area_provinsi    object
area_kota        object
size             object
price            object
tgl_parsed       object
timestamp        object
dtype: object

In [23]:
# Load json_normalize()
from pandas.io.json import json_normalize

# Isolate the JSON data from the API response
data = response.json()

# Flatten fish data into a data frame, replace separator
df =  pd.json_normalize(data,
             sep = '_')

# View data
print(df.head())

   uuid komoditas area_provinsi area_kota  size price tgl_parsed timestamp
0  None      None          None      None  None  None       None      None
1  None      None          None      None  None  None       None      None
2  None      None          None      None  None  None       None      None
3  None      None          None      None  None  None       None      None
4  None      None          None      None  None  None       None      None

In [64]:
# drop null value
df1 = df.dropna()
date_iso = df1.tgl_parsed

In [67]:
# import datetime
import datetime

# get date from tgl_parsed
date_iso = df1.tgl_parsed
date_iso = pd.to_datetime(date_iso, utc=True)
date_iso = pd.to_datetime(date_iso).dt.strftime('%Y-%V')

`Week | Komoditas | Average Price | Min Price | Max Price`

In [71]:
df['week'] = date_iso

In [75]:
df

    komoditas    price     week
16     Cupang  20100.0  2020-22
19     Arwana  20000.0  2021-15
24      Gabus  20000.0  2020-23
26       Lele  50000.0  2020-24
27      Gabus  20000.0  2020-24
..        ...      ...      ...
205    Komo 2    123.0  2021-15
206    Komo 3    123.0  2021-15
207    Komo 4    123.0  2021-15
208    Komo 5      1.0  2021-15
209    Komo 6    234.0  2021-15

[117 rows x 3 columns]

In [76]:
#convert price into numberic
df["price"] = pd.to_numeric(df.price, errors='coerce')

In [26]:
df

NameError: name 'df' is not defined

In [25]:
df.sort_values("week")

NameError: name 'df' is not defined

In [9]:
print(df)

NameError: name 'df' is not defined