In [2]:
import requests
import pandas as pd
import numpy as np

# Load json_normalize()
from pandas.io.json import json_normalize

In [3]:
df = pd.DataFrame(
    {
   "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
   "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
   "C": np.random.randn(8),
   "D": np.random.randn(8),
   }
   )

In [4]:
df.dtypes

A     object
B     object
C    float64
D    float64
dtype: object

In [5]:
df

     A      B         C         D
0  foo    one -1.401928 -0.334185
1  bar    one -1.463953 -1.092193
2  foo    two  0.658473 -0.307586
3  bar  three  1.117387 -2.517085
4  foo    two -1.125422  1.165456
5  bar    two  0.382523 -0.226576
6  foo    one -0.186647  0.969020
7  foo  three  1.069378 -0.928226

In [6]:
print(df)

     A      B         C         D
0  foo    one -1.401928 -0.334185
1  bar    one -1.463953 -1.092193
2  foo    two  0.658473 -0.307586
3  bar  three  1.117387 -2.517085
4  foo    two -1.125422  1.165456
5  bar    two  0.382523 -0.226576
6  foo    one -0.186647  0.969020
7  foo  three  1.069378 -0.928226

In [11]:
df.to_csv(r'/Users/moca/Documents/efishery/fileoutput.csv', index=False, header=True)

In [ ]:
/Users/moca/Documents/efishery