In [17]:
# 
import numpy as np
from itertools import chain

import pandas as pd

In [18]:
import pandas as pd
df = pd.DataFrame({"order_id":[1,3,7],"order_date":["20/5/2018","22/5/2018","23/5/2018"], "package":["p1,p2,p3","p4","p5,p6"],"package_code":["#111,#222,#333","#444","#555,#666"]})

In [19]:
df.head()

   order_id order_date   package    package_code
0         1  20/5/2018  p1,p2,p3  #111,#222,#333
1         3  22/5/2018        p4            #444
2         7  23/5/2018     p5,p6       #555,#666

In [20]:
# return list from series of comma-separated strings
def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

# calculate lengths of splits
lens = df['package'].str.split(',').map(len)

In [23]:
# print lens
print(lens)

0    3
1    1
2    2
Name: package, dtype: int64

In [21]:
# create new dataframe, repeating or chaining as appropriate
res = pd.DataFrame({'order_id': np.repeat(df['order_id'], lens),
                    'order_date': np.repeat(df['order_date'], lens),
                    'package': chainer(df['package']),
                    'package_code': chainer(df['package_code'])})

   order_id order_date package package_code
0         1  20/5/2018      p1         #111
0         1  20/5/2018      p2         #222
0         1  20/5/2018      p3         #333
1         3  22/5/2018      p4         #444
2         7  23/5/2018      p5         #555
2         7  23/5/2018      p6         #666